/* Write your CSS here */
.project-container {
  display: flex;
  flex-direction: column;
}

.project-img {
  width: 100%;
}

.project-title-container {
  display: flex;
  justify-content: space-between;
}

.project-title {
  font-family: 'Roboto';
  font-size: 24px;
  color: #1e293b;
  font-weight: bold;
}

.project-duration-container {
  display: flex;
  align-items: center;
}

.icon {
  color: #1e293b;
}

.project-duration {
  font-family: 'Roboto';
  font-size: 14px;
  color: #1e293b;
  margin-left: 5px;
  font-weight: bold;
}

.project-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #1e293b;
  font-weight: 500;
  margin-top: 0;
}

.project-link {
  text-decoration: none;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .project-title-container {
    flex-direction: column;
  }

  .project-title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .project-description {
    font-size: 12px;
  }
}